def Ret_Pregunta08():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de entidades diferentes que están presentes en el dataset
    retornando ese valor en un dato de tipo entero.
    '''

In [17]:
import pandas as pd
import numpy as np

In [25]:
def Ret_Pregunta08():
    df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv')
    df = df["Entity"].nunique()
    return df

In [26]:
Ret_Pregunta08()

100

In [65]:
def Ret_Pregunta09():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
    Esta función debe informar: score_promedio_femenino y score_promedio_masculino en formato tupla
    '''
    df1 = pd.read_csv('datasets/Tabla1_ejercicio.csv', sep= ';')
    df1 = pd.DataFrame(df1)

    df2 = pd.read_csv('datasets/Tabla2_ejercicio.csv', sep= ';')
    df2 = pd.DataFrame(df2)

    df3 = pd.merge(df1, df2, on='pers_id').drop_duplicates()

    score_fem = df3.loc[df3['sexo'] == 'F']
    score_fem = round(score_fem['score'].mean(), 2)

    score_masc = df3.loc[df3['sexo'] == 'M']
    score_masc = round(score_masc['score'].mean(), 2)
    
    score_promedio = (score_fem, score_masc)
    return score_promedio

In [66]:
Ret_Pregunta09()

(630.26, 772.28)

In [43]:
df1 = pd.read_csv('datasets/Tabla1_ejercicio.csv', sep= ';')
df1 = pd.DataFrame(df1)
df1.head()

       pers_id sexo  edad      ingreso            situacion_lab
0  71906556521    F    47  35926.28125  Sin_situacion_declarada
1  73861260912    F    41  16231.12207  Sin_situacion_declarada
2  24939194469    F    40  25068.96484     Relacion_dependencia
3  21033369421    F    52  30239.54883                 Jubilado
4  45334163605    F    46  12654.58203     Relacion_dependencia

In [38]:
df2 = pd.read_csv('datasets/Tabla2_ejercicio.csv', sep= ';')
df2 = pd.DataFrame(df2)
df2.head()

    pers_id  periodo  score
0  27817725   201906    814
1  37570691   201906    597
2  40181240   201906    251
3  52105045   201906    617
4  63502595   201906    392

In [50]:
df3 = pd.merge(df1, df2, on='pers_id').drop_duplicates()
df3
#ahora tomaria los score fem y masc y haria el promeddio.

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738
3,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,919
4,71906556521,F,47,35926.28125,Sin_situacion_declarada,201912,919
12,73861260912,F,41,16231.12207,Sin_situacion_declarada,201906,557
...,...,...,...,...,...,...,...
15871,57646643429,M,33,37955.50781,Relacion_dependencia,201909,683
15872,57646643429,M,33,37955.50781,Relacion_dependencia,201912,799
15873,92370836565,M,41,92338.20313,Relacion_dependencia,201906,900
15874,92370836565,M,41,92338.20313,Relacion_dependencia,201909,763
15875,92370836565,M,41,92338.20313,Relacion_dependencia,201912,900

In [59]:
#ahora tomaria los score fem y masc y haria el promeddio.
df3['sexo'].value_counts()
score_fem = df3.loc[df3['sexo'] == 'F']
score_fem = score_fem['score'].mean()
score_fem

630.261911750318

In [60]:
df3['sexo'].value_counts()
score_masc = df3.loc[df3['sexo'] == 'M']
score_masc = score_masc['score'].mean()
score_masc

772.2811111111112

In [ ]:
def Ret_Pregunta10(lista):
    '''
    Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py.
    Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
    Lista llamado getCabecera()
    Ejemplo:
        lis = Lista()
        lista.agregarElemento(1)
        lista.agregarElemento(2)
        lista.agregarElemento(3)
        print(Ret_Pregunta10(lista))
            3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo
    '''

In [88]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros cuya entidad sean Colombia o México retornando ese valor en un dato
    tupla (Colombia, México).
    Pista averiguar la funcion Shape
    '''
    df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv')
    df = pd.DataFrame(df)

    col = int((df['Entity'].loc[df['Entity'] == 'Colombia']).value_counts())
    mex = int((df['Entity'].loc[df['Entity'] == 'Mexico']).value_counts())

    resultado = (col, mex)
    return resultado

In [82]:
col = int((df['Entity'].loc[df['Entity'] == 'Colombia']).value_counts())
col

55

In [87]:
mex = int((df['Entity'].loc[df['Entity'] == 'Mexico']).value_counts())
mex

55

In [104]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.
    '''
    df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv')
    df = pd.DataFrame(df)
    df = df.drop(['Code'], axis=1)
    df = df.drop(['Entity'], axis = 1)
    columnas = int(len(df.columns))
    return columnas

In [105]:
Ret_Pregunta02()

9

In [98]:
df = df.drop(['Code'], axis=1)
df = df.drop(['Entity'], axis = 1)

In [99]:
df.head()

,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [103]:
int(len(df.columns))

9